.coin-container .content{
    max-width: 740px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #040404;
    border: 1px solid #ed500a;
    border-radius: 0px;
}

.rank {
    margin: .5 0;
}

.rank-btn{
    border: 1px solid #ed500a;
    box-shadow: 0px 0px 8px #ed500a;
    background-color: #ed500a;
    border-radius: 8px;
    padding: .2rem;
}

.info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info .coin-heading {
    display: flex;
    align-items: center;
    margin:1rem 0
}

.info .coin-price{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    padding-right: 1rem;
}

table {
    margin: .5rem;
}

td, th{
    padding: 8px;
    text-align: center;
}

th{
    background-color: #140b03;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

.stats .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    margin: .6rem 0;
    padding-bottom: .5rem;
}

.stats .rwo p:first-child{
    color: #d3d3d3;
}

.about h3{
    margin: 1rem 0;
}


.rotate-2{
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

@media screen and (max-width:700px){
    .coin-container .content{
        max-width: 100%;
        margin: .5rem;
        padding: 0 .5rem;
    }

    .stats{
        grid-template-columns: 1fr;
    }

    td, th{
        padding: 3px;
    }

}